# Ignore the virtual environment
venv/
env/

# Ignore python cache files
__pycache__/
*.pyc

# Ignore the database (It stays local on your laptop)
db.sqlite3

# Ignore uploaded media (MP3s are too big for GitHub usually)
media/